# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.venv/
.env

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.pdf

# Editors/IDE
.vscode/
.idea/

# Node (in case present)
node_modules/

# Misc
*.tmp
*.log
FF_Report.pdf
Readme.md
